nav{
    background-color: black;
}

body{
    background-color: #202024;
}

#inconsNav{
    width: 50px;
    margin-top: 8px;
}

#prof {
    color: #04D361;
    font-size: 30px;
}

#buttonCard{
    color: #04D361;
}

.card-action{
    display: flex;
    justify-content: center;
}

#card{
    border-radius: 15px;
}

#buttonNew{
    background-color: #04D361;
    border-radius: 15px;
}