nav{
    background-color: black;
    position: relative;
}

body{
    background-color: #202024;
}

#inconsNav{
    width: 50px;
    margin-top: 8px;
}

#prof {
    color: #04D361;
    font-size: 30px;
}

.buttonCard{
    color: #04D361 !important;
}

.card-action{
    display: flex;
    justify-content: center;
}

#card{
    border-radius: 15px;
}

#buttonNew{
    background-color: #04D361;
    border-radius: 15px;
}

.modal{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #424242;
}

#butModal{
    
    background-color: #04D361;
        border-radius: 15px;
}

.content{
    border-radius: 15px;
}

#butModalcl{
    display: flex;
    justify-content: center;
}

input{
    color: white;
}

#buttonCard{
    color: #04D361;
}