    body {
        background-color: #202024;
    }

    #navBar {
        width: 100%;
        justify-content: center;
        display: flex;
        background-color: black;
    }

    #tittle {
        color: #04D361;
    }

#field{
    border-color: #04D361;
    justify-content: center;
    margin-top: 120px;
    width: 700px;
    border-radius: 15px;
}

#buttonEnviar{
    display: flex;
    justify-content: center;
    
    
}

#button{
    border-radius: 15px;
    background-color: #04D361;
}

#principal{
    display: flex;
    justify-content: center;
}

input{
    color: white;
}
