nav{
    background-color: black;
}

body{
    background-color: #202024;
}

#inconsNav{
    width: 50px;
    margin-top: 8px;
}

#prof{
    color: #04D361;
    font-size: 30px;
}
#principal{
    text-align: center;
}

#divPrin{
    display: flex;
    justify-content: center;
    width: 100%;
}

#divInput{
    justify-content: center;
    align-items: center;
}

#inp{
    width: 100%;
}

#camp{
    border-radius: 15px;
    border-color: #04D361;
}

input{
    color: white;
}

h1{
    color: #04D361;
}

#setTimer{
    color: #04D361;
    font-size: 3.2rem;
}