nav{
    background-color: black;
}
body{
    background-color: #202024;
}

#note{
    margin-top: 15px;
}

#pomo{
    margin-top: 8px;
    width: 50px;
}

#prof{
    color: #04D361;
    font-size: 30px;
}