body{
    background-color: #202024;
}

#navbar{
    background-color: black;
}

#createAccont{
    background-color: black;
    color: #04D361;
    border-color: #04D361;
    border-radius: 10px;
    border-style: solid;
}

#login{
    margin-top: 10px;
}

#tittle{
    color: #04D361;
    margin-left: 480px;
    font-size: 48px;
    display: flex;
    justify-content: center;
}

#coruja{
    width: 60px;
    height: 70px;
}
#paragrafo2{
    color: white;
    font-size: 30px;
    margin-left: 300px;
    text-align:center;
}

#campo{
    border-right: 500px;
    border-style: none;

}

#strong{
    color: #04D361;
}

#strong2{
    color: #04D361;
    margin-left: 0px;
    margin-right: 15px;
    font-size: 36px;
}

#links{
    display: flex;
}

#insIncon{
    margin-left: 480px;
}

#gitIncon{
    margin-left: 100px;
}

#twiIncon{
    margin-left: 90px;
}

#emailIncon{
    margin-left: 60px;
}
