body{
    background-color: #202024;
}

#navbar{
    background-color: black;
}

#createAccont{
    background-color: black;
    color: #04D361;
    border-color: #04D361;
    border-radius: 10px;
    border-style: solid;
}

#login{
    margin-top: 10px;
}

#paragrafo{
    color: #04D361;
    margin-left: 400px;
    font-size: 48px;
}

#paragrafo2{
    color: white;
    font-size: 30px;
    margin-left: 300px;
}

#campo{
    border-right: 500px;
    border-style: none;

}

#strong{
    color: #04D361;
}

#strong2{
    color: #04D361;
    margin-left: 140px;
    font-size: 36px;
}